.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}


.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow-x: hidden;
}

.slide-content {
  position: relative;
  margin-left: 50px;
  right: 40px;
  width: 90vw;
  max-width: 600px;
  z-index: 2;
  padding: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.05s;
  -webkit-transition: opacity 0.5s, transform 0.05s;
  -moz-transition: opacity 0.5s, transform 0.05s;
  -ms-transition: opacity 0.5s, transform 0.05s;
  -o-transition: opacity 0.5s, transform 0.05s;
}

.slide-content.animate {
  opacity: 1;
  transform: translateY(0);
}

.slide-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.slide-body {
  /* Default font size for smaller screens */
  font-weight: bold;
  color: #fff;
  margin-top: 1rem;
}

.slide-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  right: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide-button:hover {
  background-color: #f37f12d0;
}

/* Media queries for responsiveness */

@media (min-width: 640px) {
  .slide-text {
    font-size: 2rem;
    /* Adjust font size for small screens */
    right: 20px;
  }
  .slide-body {
    font-size: 1.25rem;
    right: 20px;
    /* Adjust font size for small screens */
  }
}
@media (max-width: 480px) {
  .slide-background {
    height: 80%;
  }
  .slideblack {
    margin-top: -42%;
  }
  .slide-text {
    font-size: 1rem;
    /* Adjust font size for small screens */
    right: 20px;
  }

  .slide-body {
    font-size: 1.25rem;
    right: 20px;
    /* Adjust font size for small screens */
  }
}

@media (min-width: 768px) {
  .slide-text {
    font-size: 3rem;
    /* Adjust font size for medium screens */
  }

  .slide-body {
    font-size: 1.5rem;
    /* Adjust font size for medium screens */
  }
}

@media (min-width: 1024px) {
  .slide-text {
    font-size: 4rem;
    /* Adjust font size for large screens */
  }

  .slide-body {
    font-size: 1.75rem;
    /* Adjust font size for large screens */
  }
}